@font-face {
    font-family: 'Font_Name';
    src: url('../fonts/Font_Name/Font_Name.eot');
    src: url('../fonts/Font_Name/Font_Name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Font_Name/Font_Name.ttf') format('truetype'),
         url('../fonts/Font_Name/Font_Name.woff') format('woff'),
         url('../fonts/Font_Name/Font_Name.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}