// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
$desktop: 1330px;
$desktop_extra: 1600px;
// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1440px;
// COLOR
$white_0: #fff;

$black_0: #000;
$black_1: rgba(0, 0, 0, 0.5);

$gray_0: #3D3D3D;
$gray_1: #E5E5E5;
$gray_2: #9D9D9D;

$blue_0: #215CCE;
$blue_1: #143576;
$blue_2: #99B8F2;