.cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: 9;
    pointer-events: none;
    will-change: background-color, z-index;
    transition: background-color 0.2s linear;

    &--open {
        background-color: $black_1;
        overflow-x: hidden;
        z-index: 10;
        pointer-events: all;

        .cart__inner {
            transform: translateX(0);
        }
    }

    &__inner {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: 800px;
        transform: translateX(100%);
        background-color: $white_0;
        text-align: left;
        will-change: transform;
        transition: transform 0.2s linear;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0 7.5%;
        background-color: $gray_3;
    }

    &__btn {
        cursor: pointer;

        &_icon {
            display: inline-block;
            width: 5px;
            fill: transparent;
            stroke: $gray_6;
        }

        &_text {
            @include adaptiv-font(14, 17, 12, 14, "Montserrat-Bold");
            // @include font(14px, 17px, "Montserrat-Bold");

            margin-left: 24px;
            color: $gray_6;
        }
    }

    &__title {
        @include adaptiv-font(26, 32, 12, 14, "Montserrat-Bold");
        // @include font(26px, 32px, "Montserrat-Bold");

        color: $black_0;

        &::after {
            content: "("attr(data-count)")";
            color: $blue_0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 100px);
        overflow-x: hidden;
        padding: 0 7.5%;
    }

    &__order {
        flex-grow: 1;

        &_item {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: minmax(90px, auto);
            grid-gap: 30px;
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;
            border-bottom: 1px solid $gray_1;

            .tile {
                max-width: none;

                &--top {

                    &::before {
                        border-width: 20px;
                    }

                    &::after {
                        font-size: 1rem;
                        top: 24px;
                        left: 24px;
                    }
                }

                &--new {

                    &::before {
                        border-width: 20px;
                    }

                    &::after {
                        font-size: 1rem;
                        top: 24px;
                        left: 24px;
                    }
                }

                &--sale {

                    &::before {
                        border-width: 20px;
                    }

                    &::after {
                        font-size: 1rem;
                        top: 24px;
                        left: 24px;
                    }

                    .tile {

                        &__cost {

                            &_price {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                &__inner {
                    display: grid;
                    grid-template-columns: 1fr 60px 130px;
                    grid-column-gap: 30px;
                    align-items: center;
                    padding: 0;

                    .counter {
                        display: block;
                    }
                }

                &__link {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    grid-template-rows: minmax(90px, auto);
                    grid-column-gap: 30px;
                    margin-bottom: 0;
                }

                &__photo {
                    width: 100%;
                    height: 100px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                &__description {
                    display: flex;
                    align-items: center;
                }

                &__title {
                    max-width: none;
                    height: auto;
                    text-align: left;
                }

                &__category {
                    display: none;
                }

                &__footer {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                &__cost {
                    display: flex;
                    flex-direction: column-reverse;
                    height: auto;
                    margin-bottom: 0;
                    text-align: right;
                }

                &__cart {

                    &_btn {
                        display: none;
                    }
                }
            }

            // An element with the "remove_item" class was created using JS
            .remove_item {
                position: relative;
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: rotate(45deg);
                    width: 100%;
                    height: 2px;
                    background-color: $red_0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: rotate(-45deg);
                    width: 100%;
                    height: 2px;
                    background-color: $red_0;
                }
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
    }

    &__submit {
        @include adaptiv-font(14, 17, 10, 12, "Montserrat-Bold");
        // @include font(14px, 17px, "Montserrat-Bold");

        min-height: 80px;
        padding: 0 30px;
        border: 0;
        border-radius: 100px;
        background-color: $blue_0;
        color: $white_0;
        cursor: pointer;
    }

    &__total {
        @include adaptiv-font(26, 32, 12, 14, "Montserrat-Bold");
        // @include font(26px, 32px, "Montserrat-Bold");

        color: $black_0;
        text-transform: uppercase;
    }
}