.news {

    &__head {
        padding: 27px 43px;
        border-bottom: 1px solid $gray_1;
    }

    &__body {
        padding: 39px 44px 64px;

        .pagination {
            justify-content: center;

            &__list {
                border-top: 1px solid $gray_1;
                border-bottom: 1px solid $gray_1;
            }
        }
    }

    &__title {
        @include font(40px, 49px, "Montserrat-Bold");

        margin-bottom: 3.5%;
        color: $black_0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        grid-gap: 1.72vw;
        margin-bottom: 3.28%;
    }

    &__item {
        position: relative;

        &--photo {
            grid-row: span 2;

            .news__link_photo {
                display: block;
            }
        }

        &--top {
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 32px solid $blue_0;
                border-bottom-color: transparent;
                border-left-color: transparent;
                z-index: 1;
            }
    
            
            &::after {
                @include font(12px, 15px, "Montserrat-Bold");
    
                content: 'top';
                position: absolute;
                top: 16px;
                right: 16px;
                transform: rotate(45deg) translate(25%, -100%);
                transform-origin: 0% 0%;
                color: $white_0;
                text-transform: uppercase;
                z-index: 1;
            }
        }
    
        &--new {
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border: 32px solid $green_0;
                border-bottom-color: transparent;
                border-left-color: transparent;
                z-index: 1;
            }
    
            
            &::after {
                @include font(12px, 15px, "Montserrat-Bold");
    
                content: 'new';
                position: absolute;
                top: 14px;
                right: 14px;
                transform: rotate(45deg) translate(25%, -100%);
                transform-origin: 0% 0%;
                color: $white_0;
                text-transform: uppercase;
                z-index: 1;
            }
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border: 1px solid $gray_1;
        transition: border-color 0.2s;

        &:hover {
            border-color: $blue_0;
        }

        &_photo {
            display: none;
            position: relative;
            width: 100%;
            padding-bottom: 59.1%;
        }

        &_img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &_description {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10.2% 9.28% 13%;
        }

        &_date {
            @include font(14px, 17px, "Montserrat-Regular");

            margin-bottom: 12px;
            color: $gray_2;
        }

        &_title {
            @include font(22px, 32px, "Montserrat-Regular");

            margin-bottom: 20px;
            color: $black_0;
        }

        &_more {
            @include font(14px, 17px, "Montserrat-Bold");

            color: $blue_0;

            &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-right: 0;
                border-left-color: $blue_0;
            }
        }
    }
}