.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    transition: background-color 0.2s linear;

    &--open {
        background-color: $black_1;
        overflow-x: hidden;
        z-index: 10;
        pointer-events: all;

        .menu__inner {
            transform: translateX(0);
        }
    }

    &__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 100px;
        fill: $white_0;
        background-color: $blue_1;
        z-index: 9;
        cursor: pointer;

        &_svg {
            width: 14px;
            height: 14px;
            will-change: opacity;
            transition: opacity 0.2s linear;

            &--close {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                opacity: 0;
            }
        }

        &--open {
            z-index: 10;

            .menu__btn_svg {

                &--open {
                    opacity: 0;
                }

                &--close {
                    opacity: 1;
                }
            }
        }
    }

    &__inner {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        width: 100%;
        max-width: 650px;
        padding: 100px 5.21% 5.21% 100px;
        transform: translateX(-100%);
        background-color: $blue_0;
        will-change: transform;
        transition: transform 0.2s linear;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__link {
        @include font(22px, 27px, "Montserrat-Bold");

        display: flex;
        align-items: center;
        color: $white_0;
        fill: $white_0;

        &_icon {
            width: 14px;
            margin-left: 7px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 426px;
    }

    &__contacts {

        &_link {
            @include font(16px, 34px, "Montserrat-Medium");

            color: $blue_2;
        }
    }

    &__weekdays {

        &_item {
            @include font(16px, 34px, "Montserrat-Medium");

            color: $blue_2;
        }
    }
}