.nav {
    position: relative;
    width: 42%;

    &__list {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__item {
        flex-grow: 1;

        &:hover {

            .subnav {
                transform: translateY(0);
            }
        }
    }

    &__link {
        @include font(14px, 22px, "Montserrat-Regular");

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 15px;
        border-left: 1px solid $gray_1;
        border-bottom: 1px solid $gray_1;
        color: $gray_0;
        background-color: $white_0;
        will-change: color;
        transition: color 0.2s;
        z-index: 3;

        &:hover {
            color: $blue_0;
        }

        &_text {
            width: min-content;
        }

        &_line {
            white-space: nowrap;
        }
    }
}

.subnav {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 197.13%;
    width: calc(100vw - 345px);
    border-top: 1px solid $gray_1;
    background-color: $white_0;
    transform: translateY(-200%);
    will-change: transform;
    transition: transform 0.2s;
    z-index: 2;

    &__list {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 50px;
        padding: 50px;
    }

    &__link {
        @include font(14px, 24px, "Montserrat-Medium");

        display: block;
        color: $gray_0;
        will-change: color;
        transition: color 0.2s;

        &:hover {
            color: $blue_0;
        }

        &_line {
            display: block;
        }
    }
}